<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Navigation Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button (click)="nav(year)" *ngFor="let year of years">
      <ion-label>
        <h3>{{year.year}}</h3>
      </ion-label>
      <ion-icon end name="trash" size="small" (click)="delete(year); $event.stopPropagation();"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">

    <ion-fab-button (click)="presentAlertPrompt()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>